
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        $(document).ready(function () {
            $("#Telefone").inputmask("mask", { "mask": "(99) 9999-99999" });
            $("#CPF").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
            $("#CEP").inputmask("mask", { "mask": "99999-999" }, { reverse: true });
        });
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/clientes")
    @Scripts.Render("~/bundles/inputmask")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")